<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.YouthStudentApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>青春贷</name>
  <description>
        青春贷，随便花！
    </description>
  <author email="xuelong.gu@sunlights.cc" href="http://cordova.io">
        Xuelong.Gu
    </author>
  <content src="index.html"/>
  <access origin="*"/>
    <platform name="android">
        <icon src="res/android/max.png" density="xxxhdpi"/>
    </platform>
</widget>