<ion-view>
    <ion-content class="no-header">
        <div class="bar bar-header  bar-myStyle">
            <a class="button icon-left ion-chevron-left button-clear button-light"></a>

            <h1 class="title">Home</h1>
        </div>
        <div class="bar bar-subheader bar-tabs">
            <div class="list">
                <a class="item" href="#/personalCenter">
                    个人中心
                </a>
                <a class="item" href="#/setPwd">
                    设置密码
                </a>
                <a class="item" href="#/modifyPwd">
                    修改密码
                </a>
                <a class="item" href="#/forgetPwd">
                    忘记密码
                </a>
                <a class="item" href="#/login">
                    登录
                </a>
                 <a class="item" href="#/register">
                    注册
                </a>
                 <a class="item" href="#/profile">
                    个人资料
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>