<ion-view title="Slides">
    <ion-content class="no-header">
        <div class="bar bar-header  bar-myStyle">
            <h1 class="title">产品中心</h1>
            <a href="#/personalCenter" class="button icon-right button-icon icon ion-person">
            </a>
        </div>
        <div class="bar bar-subheader bar-tabs">
                <ion-slide-box on-slide-changed="slideHasChanged($index)" slide-interval="2000" does-continue="true" show-pager="true" auto-play="true">
                    <ion-slide ng-repeat="slide in slides | orderBy:'title'">
                        <div class="box blue"><img ng-src="{{slide.full}}" class="slideImagePortrait"></div>
                    </ion-slide>
                </ion-slide-box>


            <div class="list card">
                <div class="item item-avatar">
                    <img src="mcfly.jpg">
                    <p class="card-title">不差钱---零息贷</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/picture01.jpg">

                </div>
                <div class="item item-avatar">
                    <img src="mcfly.jpg">
                    <p class="card-title">不差钱---随便花</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/picture02.jpg">

                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/picture03.jpg">

                </div>

            </div>
        </div>


    </ion-content>
</ion-view>