<!--<ion-modal-view>-->
<ion-view view-title="log">

  <ion-header-bar class="global">
    <div class="buttons">
      <button class="button button-clear">关闭</button>
    </div>
    <h1 class="title">登入</h1>

  </ion-header-bar>

  <ion-content class="login-content" ng-controller="LoginCtrl">
    <form ng-submit="doLogin()">
      <div style="margin-top: 40px; ">
        <div class="loginItem login-area" style="">
          <label class="login-item-input">
            <i class="iphone-icon login-iphoneIcon-layout"></i>
            <input type="text" class="login-input-font item-input login-username-input" ng-model="loginData.userMobile" placeholder="请输入11位手机号码"/>
            <!--
            <button class="button button-clear" ng-click="closeLogin()">关闭</button>
            -->
          </label>
          <hr class="login-form-hr" color="#FFE3D1"/>
          <label class="login-item-input">
            <i class="lock-icon login-lockIcon-layout" ></i>
            <input type="password" class="login-input-font item-input login-pwd-input" ng-model="loginData.password" placeholder="请输入密码"/>
          </label>
        </div>

      </div>
      <div class="login-div">
        <a class="login-register-findpwd-common login-register" href="#/register">新用户注册</a>
        <a class="login-register-findpwd-common login-findpwd" >忘记密码</a>
      </div>
      <div class="login-submitbtnDiv">
        <label>
          <button class="button login-submitbtn" style="" type="submit">登入</button>
        </label>
      </div>
    </form>
    <div class="login-footerDiv">
      <h6 id="other" class="login-footerH6">
          <em class="login-footerEm">其它登录方式 :</em>
      </h6>
    </div>
    <i class="alipay-icon login-footerIcon-layout"></i>
  </ion-content>
</ion-view>
<!--</ion-modal-view>-->
