<ion-view>
    <ion-content class="no-header style-bgcolor-gray-light">
        <div class="bar bar-header  bar-myStyle">
            <a class="button icon-left ion-chevron-left button-clear button-light" href="#/home"></a>

            <h1 class="title">修改密码</h1>
        </div>
        <div class="bar bar-subheader bar-tabs">
            <div class="list">
                <label class="item item-input style-bgcolor-gray-light">
                </label>
                <label class="item item-input">
                    <span class="input-label">原密码</span>
                    <input type="text" placeholder="请输入原登录密码" ng-model="pwd.oldPassword">
                </label>
                <label class="item item-input">
                    <span class="input-label">新密码</span>
                    <input type="password" placeholder="请输入6-16位数字或字符" ng-model="pwd.newPassword">
                </label>
                <label class="item item-input">
                    <span class="input-label">确认密码</span>
                    <input type="password" placeholder="请再输入一次" ng-model="pwd.newPasswordConfirm">
                </label>
            </div>
            <div class="button-padding">
                <button class="button button-full button-myStyle" ng-click="modifyPwd()">提&nbsp;&nbsp;交</button>
            </div>
        </div>

    </ion-content>
</ion-view>